*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper{
    width: 600px;
    max-width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.alert{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}
.alert-danger{
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid #ced4da;
}
.go_home_btn{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}
.go_home_btn a{
    text-decoration: none;
}